<!DOCTYPE html>
<html>
    <style type="text/css">
        @font-face {
        font-family: logofont;
        src: url(../static/Bungee-Regular.ttf);
        }
        @font-face {
            font-family: mainfont;
            src: url(../static/Poppins-Italic.ttf);
        }
    
        </style>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='exemplum.css') }}"/>
        
        <title>Home</title>
    </head>

    <body>


    <div class="topnav">
        <div class="title">
        <h1>Exemplum</h1>   
        </div>
    </div>

    <div class="loginbox">
        <h3>Welcome to Exemplum</h3>
        <br><a href="{{ url_for('create_account') }}"><button type="button" class="loginbtn">Sign Up</button></a><br>
        <br><a href="{{ url_for('login') }}"><button type="button" class="loginbtn">Log in</button></a><br>
        <br>
    </div>
   

    </body>
</html>