<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="exemplum.css">
        <title>Home</title>
    </head>

    <body>


    <div class="topnav">
        <div class="title">
        <h1>Exemplum</h1>   
        </div>
    </div>
    

    <div class="leftbox">
        <div class="profilebox">
            <img src="../icons/user-icon.png" style="float:left; left: 100px;width:100px; height: 100px">
            <img src="../icons/settings-icon.png" style="float:right; right: 10px;width:25px; height:25px">  
            <p>John Findlay</p>
        </div>
        
        <p style="padding-left: 20px;">CONNECTIONS</p>
        
        <!-- Rounded switch -->
        <div class="onoroff">
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
            </label>
        </div>

        <div class="connection">
            <img src="../icons/order_status_done.png" style="position:relative; top: 20px;float: left; left: 5px;width: 15px; height: 15px;">
            
            <p style="position:relative; left: 25px;">The Fund</p>
            <div class="connectionswitch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
                </label>
            </div>

        </div><br>


        <div class="connection">
            <img src="../icons/order_status_pending.png" style="position:relative; top: 20px;float: left; left: 5px;width: 15px; height: 15px;">
            
            <p style="position:relative; left: 25px;">Al pacino</p>
            <div class="connectionswitch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
                </label>
            </div>

        </div><br>



        <div class="connection">
            <img src="../icons/order_status_error.png" style="position:relative; top: 20px;float: left; left: 5px;width: 15px; height: 15px;">
            
            <p style="position:relative; left: 25px;">Some Other Fund</p>
            <div class="connectionswitch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
                </label>
            </div>

        </div><br>

        <div class="addbox">
            <img src="../icons/addicon.png" style="position:relative; display: block;margin-left: auto;margin-right: auto; width: 45px; height: 45px;top: 7.5px;">
        </div>

    </div> <!-- End Left Box-->


    <div class="mainbox">

    </div> <!-- End Main Box-->

    </body>
</html>